html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

/* LOGIN MODAL */
.form-container {
  position: fixed;
  display: none;
  float: left;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  z-index: 990;
  transform: translate(-50%, -50%);
  border-radius: none;

  .form-inline {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
    padding: 2rem 0;
    background-color: lightgray;
    
    div{
      width: 90%;
      // background-color:red;
      flex-direction: row;
      flex-wrap: no-wrap;
      margin: 0.5rem 0;
      text-align: center;
      
      label {
        float: left;
        margin: 0.5rem;
      }

      input {
        width: 90%;
      }

      button {
        margin-right: 10px;
        margin-bottom: 25px;
        width: 80%;
      }

      ::placeholder {
        text-align: left;
      }
    }
  }
}
/* Footer */
.footer {
  font-size: 1rem;
  color: black;
  text-align: left;
  margin-left: 9rem;
  margin-bottom: 1rem;

  a {
    color: black;
  }
}

/* Media Queries */

@media only screen and (max-width: 400px){
  .form-container {
    padding: 1rem;

    .form-inline {
      max-width: 400px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
      border-radius: 1rem;
      flex-direction: row;
      // justify-content: center;
      margin: 2rem auto;
      padding: 1rem;

      div {
        justify-content: center;

        button {
          width: 80%;
          margin-bottom: 1rem;
        }
      }

    }
  }
  .footer {
    margin-left: 2rem;
  }
}